body {
    background-color: lightblue;
    padding: 0px;
}

button {
    background-color: #85bfec;
    display: inline-block;
    border-style: none;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
    outline-width: 0;
}

.sectiona{
    width: 80%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.option, .history{
    width: 40%;
    margin: 5%;


}
.lernbox, #optionform{
    border-style: solid;
    border-radius: 5px;
    border-color: royalblue;
    margin: 5px;
    padding: 2px;
}
#optionform{
    padding: 5px;
    margin: 5%;
}

p{
    margin: 5px;
}
h1{
    margin: 3px;
}
.subjects{
    display: flex;
    flex-wrap: wrap;
}
.checkbox, .label{
    width: 20%;
}
